{% extends "base.html" %}
{% block content %}
    <div class="header">
        <img src="/static/images/co-mount.jpg" />
        <h1>About Centennial State</h1>
        <img src="/static/images/co-mount.jpg" />
    </div>
    <div class="about">
        <p>Welcome to Centennial State! A database where skiers and snowboarders can login and write reviews for their favorite ski slopes throughout the great state of Colorado. The state is famous for its skiing and outdoor activities. Colorado is home to more 14,000 foot plus mountains than any area in North America.  This application is for the winter sports enthusiasts to review, reflect and share their experiences and opinions on Colorado's world class skiing in the mighty and great Rocky Mountains.
            
        <br>
        <br>
        
        Centennial State is the official nickname of Colorado. The nickname came about when Colorado was officially declared a part of the United States in 1876, during the 100th year of the Union. In honor of Colorado this application and its name is a node to the great state that many people around the country and world know and love. Please enjoy our application!</p>
    </div>

{% endblock %}