{% extends "base.html" %}
{% block content %}
    <div class="header">
        <img src="/static/images/co-mount.jpg" />
        <h1>About Centennial State</h1>
        <img src="/static/images/co-mount.jpg" />
    </div>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit veniam nihil nostrum excepturi nulla error quaerat reprehenderit, iste ad accusamus amet nesciunt, provident laborum, voluptas molestias unde non est perferendis?</p>
    </div>

{% endblock %}